In [18]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [19]:
#import the csv file and convert it to a dataframe 

CleanedData_df = pd.read_csv(Path('./Resources/CleanedData.csv'))
CleanedData_df.head()

,Unnamed: 0,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,Smoking,Passive Smoker,Cancer Severity
0,0,P1,33,1,2,4,5,4,3,2,2,4,3,2,1
1,1,P10,17,1,3,1,5,3,4,2,2,2,2,4,2
2,2,P100,35,1,4,5,6,5,5,4,6,7,2,3,3
3,3,P1000,37,1,7,7,7,7,6,7,7,7,7,7,3
4,4,P101,46,1,6,8,7,7,7,6,7,7,8,7,3

In [20]:
CleanedData_df.shape

(1000, 15)

In [21]:
CleanedData_df.dtypes

Unnamed: 0               int64
Patient Id              object
Age                      int64
Gender                   int64
Air Pollution            int64
Alcohol use              int64
Dust Allergy             int64
OccuPational Hazards     int64
Genetic Risk             int64
chronic Lung Disease     int64
Balanced Diet            int64
Obesity                  int64
Smoking                  int64
Passive Smoker           int64
Cancer Severity          int64
dtype: object

In [22]:
#Remove Patient ID Column
CleanedData_df.drop(columns=["Patient Id"], inplace=True)

CleanedData_df.head()

,Unnamed: 0,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,Smoking,Passive Smoker,Cancer Severity
0,0,33,1,2,4,5,4,3,2,2,4,3,2,1
1,1,17,1,3,1,5,3,4,2,2,2,2,4,2
2,2,35,1,4,5,6,5,5,4,6,7,2,3,3
3,3,37,1,7,7,7,7,6,7,7,7,7,7,3
4,4,46,1,6,8,7,7,7,6,7,7,8,7,3

In [23]:
# Initializing model with K = 3 (since we already know there are three classes of cancer severity)
model = KMeans(n_clusters=3, random_state=5)
model

KMeans(n_clusters=3, random_state=5)

In [24]:
# Fitting model
model.fit(CleanedData_df)

KMeans(n_clusters=3, random_state=5)

In [ ]:
#not moving forward because this model will predict cancer severity and we do not need this since we already have been provided with this data